.table_main .application_main {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(194, 194, 194, 0.16), 0px 0px 30px 0px rgba(170, 170, 170, 0.16);
    margin-top: 20px;
    min-height: 600px;
    position: relative;
}

.table_main .application_main .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E0E4EC;
    padding: 12px;
}

.table_main .application_main .heading h5 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 19px;
}

.application_main .search_tables {
    display: flex;
    align-items: center;
    gap: 20px;
}

.application_main .search_tables div {
    border: none;
    border-bottom: 1.5px solid #787878;
}

.application_main .search_tables div input {
    border: none;
}

.application_main .search_tables div svg {
    cursor: pointer;
}

.application_main .search_tables div:first-child input {
    font-size: 14px;
    color: #787878;
    width: 220px;
}

.application_main .search_tables div:first-child input:focus-visible {
    outline: none;
}

/* .application_main .search_tables div:last-child input {
    font-size: 14px;
    color: #787878;
    width: 100px;
} */

.application_table {
    margin-top: 30px;
}

.application_table thead tr th {
    text-transform: uppercase;
    padding: 10px 5px;
    font-size: 13px;
    font-weight: 600;
}

.application_table tbody tr td {
    padding: 10px 5px;
    font-size: 13px;
    color: #313131;
}

.application_table tbody tr td svg {
    font-size: 21px;
    cursor: pointer;
}

.application_table tbody tr:nth-child(even) td {
    background-color: #F5F9FC;
}

.application_table tbody tr td .ok_td {
    color: #299205;
    background-color: #E6FFDD;
    font-weight: 600;
    padding: 4px 30px;
    border-radius: 100px;
}

.application_table tbody td .rejected_td {
    color: #FF0000;
    background-color: #FFE5E5;
    font-weight: 600;
    padding: 5px 18px;
    border-radius: 100px;
}

.application_table tbody td .processing_td {
    font-weight: 600;
    padding: 5px 18px;
    border-radius: 100px;
    color: #D9A900;
    background-color: #FFF6D6;
}

.application_table thead tr {
    vertical-align: middle;
}

.application_table tbody tr {
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: end;
    padding: 10px 30px;
    gap: 12px;
}

.pagination .previous.disabled a,
.pagination .next.disabled a {
    color: lightgrey;
    text-decoration: none;
}

.pagination .previous a {
    color: #739B21;
    text-decoration: none;
    font-weight: 500;
}

.pagination .next a {
    color: #739B21;
    text-decoration: none;
    font-weight: 500;
}

.pagination li.active a {
    background-color: #dfd9d954;
    padding: 2px 7px;
    border-radius: 100px;
    font-weight: 600;
    color: #739B21;
}

/* .table_dots{
    position: relative;
} */

.table_dots div {
    position: absolute;
    background-color: #fff;
    right: 10px;
    border: 1px solid lightgrey;
    width: 95px;
}

.table_dots div ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.table_dots div ul li {
    padding: 7px 15px;
}

.table_dots div ul li:first-child {
    border-bottom: 1px solid lightgray;
}